# ─── (Required) ──

BOT_TOKEN=8830276885:AAHpp7o45_mi-FB0kQrQPh2bPStHoA3VD2Q
BOT_USERNAME=Testingreaction231bot
EMOJI_LIST=👍❤❤️🔥🥰👏😁
OWNER_ID=7754709357
WEBHOOK_SECRET=123

# ─── (optional) ──

BOT_PHOTO=
BOT_TOKENS=123:Bot1,456:Bot2   # Format: token1:username1,token2:username2
FORCE_SUBSCRIBE_CHANNELS=@YourChannel,-1001234567890   # Public: @Username | Private: Channel IDs
RANDOM_LEVEL=0  # Level (0-10)
RESTRICTED_CHATS=-1001234567890,-1009876543210   # Chat IDs where bot should NOT react
PORT=3000
NODE_ENV=production
UPSTASH_REDIS_REST_TOKEN=   # Sign up at https://console.upstash.com, create a Redis database.
UPSTASH_REDIS_REST_URL=
