# ─── (Required) ──

BOT_TOKEN=8830276885:AAHpp7o45_mi-FB0kQrQPh2bPStHoA3VD2Q
BOT_USERNAME=Testingreaction231bot
EMOJI_LIST=👍❤❤️🔥🥰👏😁
OWNER_ID=7754709357
WEBHOOK_SECRET=123

# ─── (optional) ──

BOT_PHOTO=
BOT_TOKENS=   # Format: token1:username1,token2:username2
FORCE_SUBSCRIBE_CHANNELS=   # Public: @Username | Private: Channel IDs
RANDOM_LEVEL=  # Level (0-10)
RESTRICTED_CHATS=-   # Chat IDs where bot should NOT react
PORT=
NODE_ENV=production
UPSTASH_REDIS_REST_TOKEN=   # Sign up at https://console.upstash.com, create a Redis database.
UPSTASH_REDIS_REST_URL=
