# ─── (Required) ──

BOT_TOKEN=8411819843:AAFOosD5h4hgkVQTa5EsbukXWP7jgJQWKC4
BOT_USERNAME=Alfa_Auto_Reaction_bot
EMOJI_LIST=👍❤❤️🔥🥰👏😁
OWNER_ID=-1004363257563
WEBHOOK_SECRET=JiroReactionBot_8xK4pL9mQ2

# ─── (optional) ──

BOT_PHOTO=
BOT_TOKENS=   # Format: token1:username1,token2:username2
FORCE_SUBSCRIBE_CHANNELS=-1004464801880   # Public: @Username | Private: Channel IDs
RANDOM_LEVEL=  # Level (0-10)
RESTRICTED_CHATS=   # Chat IDs where bot should NOT react
PORT=
NODE_ENV=production
UPSTASH_REDIS_REST_TOKEN=   # Sign up at https://console.upstash.com, create a Redis database.
UPSTASH_REDIS_REST_URL=
